.navbar{
    border-bottom: 2px solid lightgray;
    height: 100px;
    display: flex;

    .nav_left{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_right{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}